//
//Main banner styles
//
.main-banner .pagebuilder-poster-content {
    & div {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
    }
    & span {
        background-color: rgba(240, 240, 240, 0.3);
    }
    & h2 {
        margin-top: 0;
        margin-bottom: @indent__xs;
        letter-spacing: 9px;
    }
    & p {
        color: @color-skeleton__main-font-color;
    }
    & button {
        color: @color-skeleton__second-font-color;
        text-decoration: underline;
        margin-top: 0;
        padding-left: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .main-banner .pagebuilder-poster-content {
        padding-left: @indent__base * 5;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .main-banner .pagebuilder-poster-content {
        padding-left: @indent__base * 15;
    }
}
//
//secondary banners styles
//
.secondary-banner {
    max-width: 660px;
}

.secondary-banner .pagebuilder-poster-content {
        margin-left: auto;
        width: 260px;
    & div {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
    }
    & span {
        background-color: rgba(240, 240, 240, 0.3);
    }
    & h3 {
        display: inline;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: @indent__xs;
        letter-spacing: 5px;
    }
    & p {
        display: inline;
        font-style: italic;
        color: @color-skeleton__main-font-color;
    }
    & button {
        color: @color-skeleton__second-font-color;
        text-decoration: underline;
        margin-top: 0;
        padding-left: 0;
        background-color: rgba(240, 240, 240, 0.3);
    }
}
//
//Our products section
//
      .product-item-details {
          margin-top: @indent__l;
      }
      .product-item-name {
          margin-top: 0;
          margin-bottom: @indent__s;
      }
      .product-item-details .product-item-name > a {
          color: @color-skeleton__main-font-color;
          font-size: 1.4rem;
          letter-spacing: 1px;
          transition: all .4s ease 0s;
          &:hover {
              color: @color-skeleton__hover-font-color;
              text-decoration: none;
          }
      }

      .price-label {
          display: none;
      }
      .product-item .price-box {
          margin: 0;
          transition: all .4s ease 0s;
          transform: translateX(0%);
      }

    .product-item-info .product-item-actions .actions-primary button {
        opacity: 0;
        visibility: visible;
        transition: all .4s ease 0s;
        transform: translateX(30%);
    }

      .product-item-info:hover {
          & .price-box {
              opacity: 0;
              transition: all .4s ease 0s;
              transform: translateX(30%);
          }
          & .actions-primary button {
              opacity: 1;
              //visibility: visible;
              transition: all .4s ease 0s;
              transform: translateX(100%);
          }
          & .actions-secondary {
              transition: all .4s ease 0s;
              transform: translateY(20%);
          }

      }
      [data-content-type='row'] li.product-item {
          text-align: center;
      }
      .price-container .price {
          font-size: 1.8rem;
      }

      .old-price .price-wrapper .price {
          font-size: 1.4rem;
          color: @color-skeleton__second-font-color;
          text-decoration: line-through;
          vertical-align: text-bottom;
      }

       .products-grid .product-item-inner {
           position: static;
       }

       .actions-primary {
           position: absolute;
           bottom:0;
           left:0;

           & .action.primary {
           color: @color-skeleton__second-font-color;
           background: transparent;
           border-left: none;
           border-top: none;
           border-right: none;
           border-bottom: 1px solid #222222;
           padding-left: 0;
           padding-right: 0;
               & span {
                  text-transform: uppercase;
                  letter-spacing: 1px;
              }
           }
      }

       .actions-secondary {
           position: absolute;
           bottom: 50%;
           left: 40%;
           z-index:10;
           background: #ffffff;
           padding: 15px 0;
           transition: all .4s ease 0s;
           transform: translateY(80%);
       }

       .product-item-inner .product-item-actions .actions-secondary > .action {
           display: block;
           color: #222222;
           &:hover {
               color: #888888;
           }
       }
       .product-item-actions .actions-primary + .actions-secondary > .action {
           line-height: 43px;
           height: 43px;
           width: 60px;
       }
       .product-item .action.icon-product-link {
           .lib-icon-font('\e615',
               @_icon-font: 'luma-icons',
               @_icon-font-position: before
           );
       }
